@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="@Url.Action("Install", "Fias")">Установить ФИАС</a>
<br />
<a href="@Url.Action("Update", "Fias")">Обновить ФИАС</a>
<br />
<a href="@Url.Action("Install", "Osm")">Установить OSM</a>
<br />
<a href="@Url.Action("Update", "Osm")">Обновить OSM</a>
<br />
